* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(170, 155, 151);
  --secondary-color: rgb(216, 216, 216);
  --primary-font: "Marcellus SC", serif;
  --secondary-font: "Overpass Mono", monospace;
}

body {
  /* background: url(assets/roman-numerals-1982-ad-carved-in-stone.jpg) no-repeat
    center center; */
  font-family: var(--primary-font);
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

section {
  margin: 0 50px;
}

.column {
  background: url(assets/column_pattern_01.png) repeat center center;
  width: 50px;
  height: 100%;
  opacity: 0.1;
}

.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 96vh;
}

.roman-head {
  margin-top: 120px;
  opacity: 0.2;
}

.title {
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-size: 100px;
  margin-top: 30px;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  width: 100%;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

h2 {
  color: var(--primary-color);
  font-size: 62px;
}

a {
  color: var(--secondary-color);
}

.input-container {
  color: var(--secondary-color);
  padding: 25px;
  width: 650px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

input {
  font-family: var(--secondary-font);
  border: none;
  border-bottom: 1px solid #bbb;
}

input:focus,
textarea:focus {
  outline: none;
}

.output-container {
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.output-container > h2 {
  font-size: 5rem;
  color: #605e5b;
}

label {
  margin-bottom: 20px;
  display: inline-block;
}

#numInput {
  font-size: 18px;
  width: 160px;
  padding: 5px;
  /* horizotal-align: middle; */
}
label > span {
  display: inline-block;
  vertical-align: left;
  /* horizotal-align: middle; */
  min-width: 150px;
  margin-bottom: 20px;
}
button {
  padding: 10px;
  font-size: 18px;
}
.img-text-div {
  margin: auto;
  width: 500px;
}
